
/* ===== PAST EVENTS SECTION ===== */

.pastEvents {
  margin-top: 0px;
  padding: 60px 0;
  margin-left:10rem;
}
.pastEvents .pastEvent-header {
  
  text-align: center;
  margin-bottom: 60px;
  background: linear-gradient(90deg, var(--gdg-red), var(--gdg-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.pastEvent-header .pastEvent-title {
  font-size:4.5rem;
  margin-bottom: 30px;
  
}
.pastEvent-header .pastEvent-subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 60px;
}
/* ===== TIMELINE ===== */
#timeline {
  position: relative;
  margin-left: 120px;
}

/* Vertical Line */
#timeline::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  width: 4px;
  height: 100%;
  background: #6a1b9a;
  border-radius: 4px;
}

/* ===== YEAR CIRCLE ===== */
.year-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.year {
  width: 90px;
  height: 90px;
  background: linear-gradient(135deg, #7b1fa2, #4a148c);
  color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.year h4 {
  font-size: 20px;
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* ===== EVENTS CONTAINER ===== */
.event-container {
  margin-left: 80px;
  margin-bottom: 60px;
  
}

.hidden {
  display: none;
}

/* ===== EVENT CARD (BIG BOX) ===== */
.event-section {
  width: 100%;
  max-width: 800px;
  min-height: 260px;

  /* background: #ffd88a; */
  background:white;
  border-radius: 26px;
  padding: 40px;
  margin-top:40px;
  margin-bottom: 40px;
  display: block;
  align-items: center;
  justify-content: space-between;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}

/* ===== EVENT INFO ===== */
.event-info {
  flex: 1.3;
  padding-right: 40px;
}

.event-info h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #000;
}

.event-info h4 {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 12px;
}

.event-info p {
  font-size: 17px;
  line-height: 1.6;
  color: #333;
}

/* ===== IMAGE SLIDER ===== */
.event-photo {
  max-width: 800px;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: 20px;
}

.event-photo::-webkit-scrollbar {
  display: none;
}

.event-photo img {
  width: 240px;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.event-photo img:hover {
  transform: scale(1.15);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  #timeline {
    margin-left: 40px;
  }

  .event-container {
    margin-left: 80px;
  }

  .event-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .event-photo {
    width: 100%;
    margin-top: 20px;
  }
}
